* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    
    color: black;
    
}

#form {
    border: solid 1px red;
    display: flex;
    flex-direction: column;
    max-width: 50rem;

    justify-content: center;

   
}

#form {
    display: grid;
}
input {
    position: relative;
    margin-bottom: 20px;
    width: 510px;
    height: 60px;
}




label {
    position: relative;
    color: black;
    top: -10px;
}