@import url('https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');

* {
    box-sizing: border-box;
    font-family: Urbanist, sans-serif;

}

/* .header-contain-max {
    display: flex;
    width: 100%;
    height: 80px;
    background-color: #f2f2f2;
    justify-content: space-between;
    align-items: center;
    padding: 0px 20px;
} */

.header {
    width: 100vw;
    background-color: #f2f2f2;
    display: flex;
    justify-content: center;

}

.logo {

    width: 50px;

}

/* nav {
    display: flex;
    gap: 20px;
} */

nav a {
    cursor: pointer;
    font-weight: 300;
    letter-spacing: 0.1cap;
    text-decoration: none;
    color: black;
    font-size: 13px;
}

.link-app-bar {
    margin: 0px 0px 0px 15px !important;
}

.nav_bar {
    background-color: #f2f2f2 !important;
    /* background-color: rgba(0, 0, 0, 0.219) !important; */
    box-shadow: none !important;
}

.css-10hburv-MuiTypography-root {
    color: black;
}

/* .header-contain-media {
    display: none;
    width: 100%;
    height: 80px;
    background-color: #f2f2f2;
    justify-content: space-between;
    align-items: center;
    padding: 0px 20px;
} */

/* .max-width-header {
    width: 100vw;
} */

/* @media screen and (max-width:680px) {
    .header-contain-max {
        display: none;
    }

    .header-contain-media {
        display: flex;
    }
}

@media screen and (min-width:1240px) {
    .max-width-header {
        width: 1240px;
    }
} */